div {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
	color: white;
	margin-top: 10px;
	font-weight: bold;
}

#box1 {
	background-color: red;

}

#box2 {
	background-color: orange;
	margin-left: 30px;

}

#box3 {
	background-color: yellow;
	margin-left: 60px;

}

#box4 {
	background-color: green;
	margin-left: 90px;

}

#box5 {
	background-color: blue;
	margin-left: 120px;

}

#box6 {
	background-color: violet;
	margin-left: 160px;

}

