@font-face {
    font-family: coolvetica;
    src: url('/resources/coolvetica.ttf');
}

body {
    margin: 0 auto;
    background: #29E7CD;

}

button {
    background-color: transparent; /* Green */
    border: 3px solid #E0ACD5;
    border-radius: 10px;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #E0ACD5; /* Green */
    color: white;
}

.container {
    width: 900px;
    
    margin: 0 auto;
    background: #6A3E37;
    text-align: center;
    position: relative;

}

.weatherBlock {
    display: inline-block;
    width: 200px;
    height: 300px;
   
    margin: 15px;
    padding: 20px;
    background:#F4EBE8;
    text-align: center;
    position: relative;
    

}

.temps {
    font-size: 30px;
    font-family: 'coolvetica';
    margin-top: 50px;
}

.space {
    margin-bottom: 15px;
}

.boxBanner {
    width: 240px;
    height: 50px;
    background: #3993DD;
    position: absolute;
    left: 0px;
    top: 0;
}

.bold {
    font-weight: bold;
}

.boxBanner {
    color: #E0ACD5;
    font-family: 'coolvetica';
    font-size: 20px;
    line-height: 50px;
}

#maps {
    width: 900px;
    height: 400px;
    background: transparent;

}

#cords {
    color: #E0ACD5;
    font-size: 30px;
    font-family: 'coolvetica';
}

#neo {
    position: absolute;
    z-index: 50;
    left: -320px;
    bottom: -100px;

}

#address {
    height: 25px;
    width: 200px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 20px;

}
